body {
    margin: 0;
    background-color: rgba(85, 88, 50, 0.5);
}
.gotop{
    background-color: rgba(89, 89, 224, 0.945);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "jf-openhuninn-1.0";
    src: url(../font/jf-openhuninn-1.0.woff) format("woff");
    src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
}

@font-face {
    font-family: "NaikaiFont-Regular.ttf";
    src: url(../font/NaikaiFont-Regular.ttf);
}

body {
    font-family: "jf-openhuninn-1.0";
    overflow-x: hidden;
}

h1 {
    font-size: 32px;
    text-align: center;
    font-family: "NaikaiFont-Regular.ttf";
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

#Login .formSignIn .signInBtn,
.reboot_div .reboot_btn_div button,
.section6 .row1 .contest .cookList_item .cookList_vote button {
    font-family: "jf-openhuninn-1.0";
    border: none;
    outline: none;
    background-color: #5fa8d3;
    color: #ffffff;
    padding: 3% 5%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 2px #707070;
    font-size: 16px;
    cursor: pointer;
}

#Login .formSignIn .signInBtn:active,
.reboot_div .reboot_btn_div button:active,
.section6 .row1 .contest .cookList_item .cookList_vote button:active {
    box-shadow: inset 2px 2px 2px #707070;
    top: 1px;
}

#Login .formSignIn .signInBtn::before,
.reboot_div .reboot_btn_div button::before,
.section6 .row1 .contest .cookList_item .cookList_vote button::before {
    content: '';
    position: absolute;
    background-color: #eee;
    padding: 50%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: .8;
    transition: transform .6s, opacity 1s;
}

#Login .formSignIn .signInBtn:hover::before,
.reboot_div .reboot_btn_div button:hover::before,
.section6 .row1 .contest .cookList_item .cookList_vote button:hover::before {
    transition: 1s;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
}

.pu_big_content_wrap .pu_reb_btn button,
.section2 .row1 .wrapper .button,
.section3 .row1 .button,
.section4 .row2 .button,
.section5 .wrapper .button,
.section6 .row1 .textwrapper .button {
    font-family: "jf-openhuninn-1.0";
    border: none;
    outline: none;
    background-color: #021A71;
    color: #ffffff;
    padding: 3% 5%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 2px #707070;
    font-size: 16px;
    cursor: pointer;
}

.pu_big_content_wrap .pu_reb_btn button:active,
.section2 .row1 .wrapper .button:active,
.section3 .row1 .button:active,
.section4 .row2 .button:active,
.section5 .wrapper .button:active,
.section6 .row1 .textwrapper .button:active {
    box-shadow: inset 2px 2px 2px #707070;
    top: 1px;
}

.pu_big_content_wrap .pu_reb_btn button::before,
.section2 .row1 .wrapper .button::before,
.section3 .row1 .button::before,
.section4 .row2 .button::before,
.section5 .wrapper .button::before,
.section6 .row1 .textwrapper .button::before {
    content: '';
    position: absolute;
    background-color: #eee;
    padding: 50%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: .8;
    transition: transform .6s, opacity 1s;
}

.pu_big_content_wrap .pu_reb_btn button:hover::before,
.section2 .row1 .wrapper .button:hover::before,
.section3 .row1 .button:hover::before,
.section4 .row2 .button:hover::before,
.section5 .wrapper .button:hover::before,
.section6 .row1 .textwrapper .button:hover::before {
    transition: 1s;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
}

.mobile_header {
    display: none;
}

.pu_head_wrap_div {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 500;
    transition: 1s all;
}

.pu_head_wrap_div .pu_logo_a {
    width: 20%;
    text-align: center;
    padding-top: 1%;
    display: block;
}

.pu_head_wrap_div .pu_head_ul {
    display: flex;
    width: 90%;
    align-items: center;
    text-align: center;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li .pu_text_a {
    color: #01355D;
    text-decoration: none;
    padding: 5px 0;
    font-size: 20px;
    letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_mem_login_div {
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div {
    width: 30px;
    margin-right: 3%;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div img {
    max-width: 100%;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    position: relative;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_mem_login_suc_div {
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_icon_suc_div {
    margin-right: 3%;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_icon_suc_div img {
    max-width: 100%;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_login_btn {
    position: absolute;
    bottom: -55px;
    left: -3px;
    text-align: center;
    background-color: #4EB6E6;
    width: 100px;
    border-radius: 5px;
    display: none;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_login_btn::before {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 5px 15px 5px;
    border-color: #4EB6E6 transparent transparent transparent;
    transform: rotate(180deg);
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_login_btn .pu_login_member_center {
    padding: 10% 0;
    border-bottom: 1px solid #ccc;
}

.pu_head_wrap_div .pu_mem_login_div_suc_wrap .pu_login_btn .pu_login_logout {
    padding: 10% 0;
}

.pu_head_wrap_div::after {
    content: "";
    background-image: url("../images/cloud.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    bottom: auto;
    height: 150px;
    width: 100%;
    z-index: -1;
}

.pu_flow-wave {
    background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
    background-size: 20px 20px;
    background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
    animation: pu_waveFlow 1s infinite linear;
}

.pu_flow-wave:hover {
    animation: pu_waveFlow 1s infinite linear;
}

@keyframes pu_waveFlow {
    from {
        background-position-x: -10px, 0;
    }

    to {
        background-position-x: -30px, -20px;
    }
}

.pu_h1_div {
    position: relative;
    width: 40%;
    margin: 12% auto 5% auto;
}

.pu_h1_div .pu_h1_img {
    max-width: 100%;
}

.pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 22%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
}

#Login {
    background-color: #D9E8EC;
    width: 320px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    z-index: 1003;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    letter-spacing: 1px;
}

#Login #cancel {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}

#Login .mem_login {
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 5%;
}

#Login .formSignIn .pu_email_div {
    margin-bottom: 10%;
}

#Login .formSignIn .pu_email_div input {
    border: 1px solid #707070;
    padding: 5px 0;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
}

#Login .formSignIn .pu_psw_div {
    margin-bottom: 10%;
}

#Login .formSignIn .pu_psw_div input {
    border: 1px solid #707070;
    padding: 5px 0;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
}

#Login .formSignIn .signInBtn {
    width: 100px;
    margin: 10% auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

#Login .formSignIn #action {
    padding-bottom: 5%;
}

#Login .formSignIn #action a {
    padding: 0 20px;
    text-decoration: none;
}

#Login_back {
    display: none;
    width: 100%;
    background-color: rgba(119, 119, 119, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1002;
}

.alertbox {
    display: none;
    background-color: #FBD672;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    padding: 30px 10px;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1005;
    box-shadow: 6px 6px 0px #f7c029;
    border-radius: 0 0 10px 10px;
}

.alertbox .boxclose {
    width: 7%;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
}

.alertbox .wrapper {
    background-color: #fff;
    border-radius: 5px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.alertbox.on {
    display: block;
}

#go_top {
    width: 150px;
    height: 150px;
    background: none;
    position: fixed;
    left: 20px;
    bottom: 100px;
    border: transparent;
    outline: none;
    cursor: pointer;
    z-index: 100;
}

#go_top img {
    width: 100%;
}

